body{
    font-family: 'Inter', inter Fallback;
    color: #FFFFFF;
    position: relative;
    margin: 0;
    padding: 0;
}

.bg-hero {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 0;
    user-select: none;
    pointer-events: none;
}

.bg-hero img {
    width: 100%;
    height: auto;
    display: block;
}

header{
    width: 100%;
    padding: 16px 24px;
    z-index: 100;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.nav-container {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.nav-content{
    display: flex;
    align-items: center;
    max-width: 1056px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    column-gap: 32px;
}

.nav-left {
    display: flex;
    align-items: center;
    column-gap: 20%
}

.navigation {
    display: flex;
    max-width: max-content;
    flex: 1 1 0%;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
}


.navigation ul {
    display: flex;
    flex: 1 1 0%;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    gap: 4px;
    margin: 0;
    padding: 0;
}

.navigation ul li a {
    color: #FFFFFF;
    text-decoration: none;
    padding: 8px 16px;
    display: block;
    border-radius: 8px;
    transition: background-color 0.2s;
    font-size: 15px;
}

.navigation ul li a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.nav-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.cto {
    display: flex;
    align-items: center;
    gap: 10px
}

.contact {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    white-space: nowrap;
    font-weight: 500;
    background-color: rgba(255, 255, 255, 0.1);
    color: #FFFFFF;
    font-size: 15px;
    text-decoration: none;
    padding: 4.5px 12px;
    border-radius: 25px;
}

.contact:hover {
    background-color: rgba(255, 255, 255, 0.15);
}

.signin {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 25px;
    font-weight: 500;
    flex-shrink: 0;
    background-color: #FFFFFF;
    color: #000000;
    font-size: 15px;
    padding: 4.5px 12px;
    text-decoration: none;
}

.signin:hover {
    background-color: #f1f1f1;
}

.announcement {
    position: relative;
    top: 50px;
    color: #FFFFFF;
    text-align: center;
    padding: 50px 16px;
    font-size: 14px;
    z-index: 50;
}

.announcement button {
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
    padding: 12px 16px;
    border-radius: 25px;
    cursor: pointer;
}

.announcement .new {
    background-color: #188B5F;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 12px;
    border-radius: 25px;
    padding: 2px 6px;
}

.announcement a {
    color: #FFFFFF;
    text-decoration: none;
}

.announcement button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.hero {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 5%;
    z-index: 50;
}

.hero h1 {
    width: 100%;
    max-width: 688px;
    text-align: center;
    color: #FFFFFF;
    font-weight: 600;
    text-wrap: balance;
    font-size: 64px;
}

.hero p {
    color: #FFFFFF;
    font-size: 18px;
    line-height: 150%;
    margin-top: 24px;
    text-align: center;
    max-width: 472px;
}

.hero form {
    margin-top: 32px;
    padding: 4px;
    max-width: 360px;
    width: 100%;
    border-radius: 25px;
    backdrop-filter: blur(12px);
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

.hero form input {
    padding-left: 12px;
    padding-right: 12px;
    height: 32px;
    width: 100%;
    color: #f1f1f1;
    font-size: 15px;
    background: transparent;
    border: none;
}

.hero form input:focus {
    outline: none;
    border: none;
}

.hero form input::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.hero form button {
    cursor: pointer;
    white-space: nowrap;
    border-radius: 25px;
    background-color: #f1f1f1;
    color: #000000;
    border: 1px solid #f1f1f1;
    font-size: 15px;
    padding: 5px 12px;
}

.hero form button:hover {
    background-color: rgba(255, 255, 255, 0.85);
}

.container {
    position: relative;
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom: 0 !important;
    border: 2px solid rgba(255, 255, 255, 0.1);
    z-index: 10;
}

.container img {
    width: 100%;
    height: auto;
    display: block;
}

.logos-section {
    padding-top: 96px;
    padding-bottom: 96px;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.logos-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 120px;
    max-width: 100%;
    margin: 0 auto;
    place-items: center;
}

.logos-container img {
    height: 40px;
    width: 120px;
}
.feature {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
    position: relative;
    z-index: 10;
}

.feature-content {
    padding: 32px 24px;
    width: 100%;
    display: grid;
    place-items: center;
    gap: 16px;
}

.feature-content h2{
    color: #000;
    font-size: 32px;
    text-align: center;
    text-wrap: balance;
    margin: 0;
    padding: 0;
}
.feature-content p{
    color: #000;
    text-align: center;
    text-wrap: balance;
    margin: 0;
    padding: 0;
}

.feature-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    color: #000;
}

@media (max-width: 1023px) {
    .feature-grid {
        grid-template-columns: 1fr;
    }
}

.feature-grid span {
    color:#188B5F;
    font-size: 12;
}

.feature-card {
    border-radius: 25px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding-left: 24px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
}

.feature-card:nth-child(3) {
    grid-column: 1 / -1;
}

.feature-image {
    width: 100%;
    position: relative;
}

.feature-image img {
    max-width: 100%;
    height: auto;
    display: block;
}

.enterprise {
    background-color: #f9f9f9;
    width: 100%;
    margin-top: 150px;
    border: #000 1px solid;
    color: #000;
}

.enterprise-container {
    width: 100%;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 24px;
}

.enterprise-content {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-end;
    gap: 24px;
    padding-bottom: 48px;
}

.enterprise-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 640px;
}
.enterprise-text h4 {
    color: #188B5F;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    margin-top: 100px;
    padding: 0;
}

.enterprise-text h3 {
    color: #000;
    text-wrap: balance;
    font-size: 32px;
    margin: 0;
    padding: 0;
}


.enterprise-text p {
    font-size: 16px;
    color: #6B7280;
    font-weight: 400;
    text-wrap: balance;
    margin: 0;
    padding: 0;
}

.enterprise-content a {
    display: inline-flex;
    align-items: center;
    height: fit-content;
    justify-content: center;
    cursor: pointer;
    white-space: nowrap;
    border-radius: 25px;
    background-color: #000000;
    color: #FFFFFF;
    font-size: 16px;
    padding: 7px 24px;
    margin-right: 4px;
    text-decoration: none;
}

.enterprise-content a:hover {
    background-color: rgba(0, 0, 0, 0.85);
}

.enterprise-content a svg {
    pointer-events: none;
}

.enterprise-content a svg:not([class*='size-']) {
    width: 12px;
    height: 12px;
}

.enterprise-icon {
    margin: 24px 0;
}
.enterprise-icon {
    margin: 24px 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-bottom: 48px;
    flex: 1;
    text-wrap: balance;
}

.enterprise-icons-wrapper {
    display: flex;
    flex-direction: row;
    gap: 48px;
    margin: 24px 0;
}

.customer-story {
    width: 100%;
}

@media (min-width: 1024px) {
    .customer-story {
        overflow: hidden;
    }
}
